.about {
  display: flex;
  background-color: #f6f8f4;
}
.about-us {
  margin: auto;
  padding-right: 20px;
}
.heading {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: 700;
  color: #4b5664;
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .about {
    flex-direction: column;
  }
  .about img {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .about {
    flex-direction: column;
  }
  .about img {
    width: 100%;
  }
}
